AShok sir class room example/Sample_XML_DTD_XSD/XSD-Namespaces/po1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://amazon.org/sales/marketing" xmlns:asm="http://amazon.org/sales/marketing">

	<xs:element name="item" type="asm:itemType"/>
	<xs:complexType name="itemType">
		<xs:sequence>
			<xs:element name="itemCode" type="xs:string"/>
			<xs:element name="quantity" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
